/********************************
 * Global
 * *****************************/

.max {
    width: 100%;
    height: 100%;
}

.content {
    overflow: auto;
    top: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background: #fff;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.height-100 {
    height: 100%;
}

.loading img {
    position: relative;
    top: 45%;
    left: 45%;
}

.center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.top {
    position: absolute;
    top: 0
}


/********************************
 * Step Styles
 * *****************************/

.tpadding-10 {
    padding-top: 10%;
}

.bpadding-10 {
    padding-bottom: 10%;
}

.width-100 {
    width: 100%;
}


/*
* Sprite Icons
*/

[class*="icon-"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/sprites.svg);
	background-repeat: no-repeat;
}
.icon-arrow-down {
	background-position: 0 0;
	width: 32px;
}
.icon-arrow-down2 {
	background-position: -48px 0;
	width: 32px;
}
.icon-arrow-up {
	background-position: -96px 0;
	width: 32px;
}
.icon-arrow-up2 {
	background-position: -144px 0;
	width: 32px;
}

/*********************************
 * Home view
 * ******************************/

.half-height {
    height: 49.5%;
    transition: height 1s
    transition: opacity 1s
    background-color: #eee;
}

.half-height-extended {
    height: 95%;
}

.half-height-disappear {
    opacity: 0;
}

.separator {
    height: 1%;
    background-color: #bbb;
}

.action {
    font-size: 5em;
    font-weight: bold;
}

.arrows-down {
    padding-top: 40%;
}
